.footer{
    display:flex;
    flex-direction:column;
}
.footer__top{
    padding-left:3em;
    padding-right:3em;
    background:$base-green;
    display:flex;
    flex-direction:column;
}
.footer__bottom{
    padding:0.5em 3em 0.5em 3em;
    background:$dark-green-1;
    display:flex;
    flex-direction:column-reverse;
    align-items:center;
}
@media screen and (min-width:$viewport-5){
    .footer__top{
        flex-direction:row;
        flex-wrap:wrap-reverse;
    }
    .footer__bottom{
        flex-direction:row;
        justify-content:space-between;
    }
}
@media screen and (min-width:$viewport-9) {
    .footer__top{
        padding-left:8.5em;
        padding-right:8.5em;
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
    }

    .footer__bottom{
        padding-left:8.5em;
        padding-right:8.5em;
        display:flex;
        }
}
