.footer{
    display:flex;
    flex-direction:column;
}
.footer__top{
    padding-left:7em;
    padding-right:7em;
    background:$base-green;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}
.footer__bottom{
    padding-left:7em;
    padding-right:7em;
    padding-top:1em;
    padding-bottom:1em;
    background:$dark-green-1;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
