.section-2{
    background:$background-highlight-grey;
    padding:3em 3em 3em 3em;
    text-align:center;
}
@media screen and (min-width:$viewport-9){
    .section-2{
    padding-left:8.5em;
    padding-right:8.5em;
    }
}
.section-2__heading{
    color:$base-orange;
    font-size:35px;
    font-weight:600;
}

.section-2__text{
    @include regular-text;
    color:$regular-text-grey;
}
