.section-1{
    background:$background-grey;
    padding-bottom:1em;
    padding-left:3em;
    padding-right:3em;
    }

@media screen and (min-width:$viewport-9){
    .section-1{
    padding-left:7em;
    padding-right:7em;
    }
}
