.section-2{
    background:$background-highlight-grey;
    padding-right:7em;
    padding-left:7em;
    padding-top:4em;
    padding-bottom:4em;
    text-align:center;
}

.section-2__heading{
    color:$base-orange;
    font-size:40px;
    font-weight:600;
}
.section-2__text{
    font-size:12px;

}
