.benefits{
    width:20%;
    padding:4em 2em 4em 0;
}
.benefits__heading{
    color:$text-grey;
    font-weight:700;
    font-size:16px;
    margin-bottom:2em;
}
.benefits__item{
    font-size:12px;
    line-height:2;
}
.benefits__icon{
    color:$base-green;
}
