.benefits{
    width:25%;
}
.benefits__heading{
    color:$text-grey;
    font-weight:700;
    font-size:14px;
    margin-bottom:2em;
}
.benefits__item{
    font-size:12px;
    line-height:2;
}
.benefits__icon{
    color:$base-green;
}
