.benefits{
    padding:3em 0 0 0;
}
@media screen and (min-width:$viewport-5){
    .benefits{
        width:30%;
        padding:4em;
    }
}
@media screen and (min-width:$viewport-11){
    .benefits{
    width:20%;
    padding:4em 2em 4em 0;
}
}
.benefits__heading{
    @include heading;
    margin-bottom:2em;
    text-align:center;
}
@media screen and (min-width:$viewport-5){
    text-align:left;
}
.benefits__item{
    @include regular-text;
}
.benefits__icon{
    color:$base-green;
}
