.blog{
    padding:4em 0 4em 0;
    font-size:12px;
}
.blog__heading{
    @include blog-heading;
}

.blog__heading_strong{
    @include blog-heading;
    font-weight:700;
    cursor:pointer;
}
.blog__heading_italic{
    @include blog-heading;
    font-style:italic;
    color:$white;
    }
