.blog-preview{
    display:flex;
    flex-direction:row;
    padding-top:1em;
    cursor:pointer;
    &:hover .blog-preview__heading{
        font-weight:600;
        text-decoration:underline;
    }
    &:hover .blog-preview__date{
        font-weight:600;
    }
    &:hover .blog-preview__image{
	    height:68px;
        width:68px;
    }
    &:focus .blog-preview__heading{
        font-weight:600;
        text-decoration:underline;
    }
    &:focus .blog-preview__date{
        font-weight:600;
    }
    &:focus .blog-preview__image{
	    height:68px;
        width:68px;
    }
    &:active .blog-preview__heading{
        font-weight:600;
        text-decoration:underline;
    }
    &:active .blog-preview__date{
        font-weight:600;
    }
    &:active .blog-preview__image{
	    height:68px;
        width:68px;
    }
    .blog-preview__image{
        height:64px;
        width:64px;
        transition:all 0.4s ease-in;
    }
    .blog-preview__text{
        @include regular-text;
        padding-left:1em;
        margin-top:-0.5em;

    }
    .blog-preview__heading{
        color:$white;
        transition:all 0.6s ease-in;
        font-weight:400;
        text-decoration:none;
    }
    .blog-preview__date{
        color:#386238;
        transition:all 0.6s ease-in;
        font-weight:400;
    }

}



