.blog-preview{
    display:flex;
    flex-direction:row;
    padding:0.5em 1em 0.5em 1em;
    cursor:pointer;
    &:hover {
	    background:$dark-green-1;
        border-radius:5px;
    }
    &:focus {
        background:$dark-green-1;
        border-radius:5px;
    }
    &:active {
        background:$dark-green-1;
        border-radius:5px;
    }

    .blog-preview__image{
        height:64px;
        width:64px;
        transition:all 0.4s ease-in;
    }
    .blog-preview__text{
        @include regular-text;
        padding-left:1em;
        margin-top:-0.5em;

    }
    .blog-preview__heading{
        color:$white;
        transition:all 0.6s ease-in;
        font-weight:400;
        text-decoration:none;
    }
    .blog-preview__date{
        color:#386238;
        transition:all 0.6s ease-in;
        font-weight:400;
    }

}



