.cards{
    display:flex;
    flex-direction:column;
}
.card{
    background:$card-grey;
    width:93%;
    border-bottom:5px solid $card-border-grey;
    border-radius:5px;
    text-align:center;
    padding:1.5em 1em 1.5em 1em;
    position:relative;
    margin-bottom:2em;
    cursor:pointer;
    transition:all 0.5s ease-in;
    &:hover{
        background:$white;
    }
    &:hover .button_read{
        @include button-mix($light-orange-1, $base-orange);
    }
    &:hover .card__text_more{
        color:$light-orange-1;
    }
}
.card__heading{
    @include heading;
    margin-bottom:1.5em;
    margin-top:1em;
}
.card__text{
    @include regular-text;
    color:$regular-text-grey;
}
.card__text_more{
    @include regular-text;
    font-weight:600;
    color:#6fc46f;
    transition:all 0.5s ease-in;
}
.button_read{
    display:none;
}

@media screen and (min-width:$viewport-5){
    .cards{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
    .card{
        width:40%;
        padding-top:4em;
        padding-bottom:4em;
    }
    .card_odd{
        margin-right:6%;
    }
    .card__text{
        display:none;
    }
}
@media screen and (min-width:$viewport-7){
    .card{
        width:43%;
    }
    .card_odd{
        margin-right:4%;
    }
}


@media screen and (min-width:$viewport-9){
    .cards{
        justify-content:space-between;
        margin-bottom:2em;
        flex-wrap:nowrap;
    }
    .card{
        width:20%;
    }
    .card_odd{
        margin-right:0;
    }
    .card__text{
        display:block;
    }
    .card__text_more{
        display:none;
    }
    .button_read{
        display:block;
    }
}
