.menus{
    display:flex;
}

.community-menu{
    @include regular-text;
    color:$white;
    padding:2em 4em 2em 0;
    .community-menu__heading{
        @include footer-heading;
    }
    .community-menu__list{
        padding-top:0.5em;
    }
    .community-menu__link{
        cursor:pointer;
        &:hover{
            font-weight:600;
        }
         &:focus{
            font-weight:600;
         }
          &:active{
            font-weight:600;
        }
        &:hover path{
            stroke-width:3px;
        }
         &:focus path{
            stroke-width:3px;
         }
          &:active path{
            stroke-width:3px;
        }
    }
}
@media screen and (min-width:$viewport-5){
    .community-menu{
        padding:4em 4em 4em 0;
    }
}
