.company-menu{
    @include regular-text;
    color:$white;
    padding:4em 4em 4em 0;
    .company-menu__heading{
        @include footer-heading;
    }
    .company-menu__list{
        padding-top:0.5em;
    }
    .company-menu__item{
        cursor:pointer;
        &:hover{
            font-weight:600;
        }
        &:hover path{
            stroke-width:3px;
        }
    }
}
