.info{
    @include regular-text;
    color:$white;
    padding:4em 0 2em 0;
    .info__text{
        padding:2em 0 2em 0;
    }
    .info__email_strong{
        @include contacts-italic;
    }
    .info__phone_strong{
        @include contacts-italic;
    }
}
@media screen and (min-width:$viewport-5){
    .info{
        padding:4em 4em 4em 0;
    }
}
