.jumbotron{
    background:$background-highlight-grey;
    border-radius:5px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:1.5em;
    margin-bottom:3em;
}
.jumbotron__heading{
    color:$text-grey;
    font-size:30px;
    font-weight:600;
}
.jumbotron__text{
    font-size:12px;
    line-height:2;
}
