.jumbotron{
    background:$background-highlight-grey;
    border-radius:5px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:1.5em;
    margin-bottom:3em;
    .jumbotron__heading{
        color:$text-grey;
        font-size:30px;
        font-weight:600;
    }
    .jumbotron__text{
        @include regular-text;
        padding:1em 0 0.5em 0;
    }
}
@media screen and (min-width:$viewport-7){
    .jumbotron{
        flex-direction:row;
        .jumbotron__text{
            padding:0;
        }
    }
}
