.menu{
    display:none;
}
.menu__link{
    color:$white;
}

.menu__icon{
    transform:rotate(90deg);
    margin-bottom:-3px;
    display:none;
}
.menu__icon_chevr{
    transform:rotate(90deg);
    margin-bottom:-6px;
}

@media screen and (min-width:$viewport-7){
    .menu{
        display:flex;
        flex-direction:row;
        font-weight:600;
        font-size:12px;
    }

    .menu__item{
        border-radius:5px;
        padding:0.5em 1em 0.5em 1em;
        border-bottom:2px solid $base-green;
        cursor:pointer;
        transition:all 0.5s ease-in-out;

        &:hover{
            background:$dark-green-2;
            border-bottom:2px solid $dark-green-3;
        }
        &:focus-within{
            background:$dark-green-2;
            border-bottom:2px solid $dark-green-3;
        }
    }
        .menu__item_optional{
            display:none;
        }

}
@media screen and (min-width:$viewport-9){
    .menu__item_optional{
        display:block;
    }
}

@media screen and (min-width:$viewport-11){
    .menu__icon{
        display:inline-block;
    }
    .menu__item_fold{
        display:none;
    }
}

