.menu{
    display:none;
}
@media screen and (min-width:$viewport-7){
.menu{
    display:flex;
    flex-direction:row;
    font-weight:600;
    font-size:14px;
}
.menu__item{
    border-radius:5px;
    padding:0.5em 1em 0.5em 1em;
    border-bottom:5px solid $base-green;
    cursor:pointer;
    transition:all 0.8s ease-in-out;
}
.menu__item_optional{
    display:none;
}
@media screen and (min-width:$viewport-9){
    .menu__item_optional{
        display:block;
    }
}
.menu__link{
    color:$white;
}

.menu__item:hover{
    background:$dark-green-2;
    border-bottom:5px solid $dark-green-3;
}
.menu__item:active{
    background:$dark-green-2;
    border-bottom:5px solid $dark-green-3;
}
}
.logo__link{
    z-index:3;
}
