.menu_mobile{
    display:none;
         height:100vh;
         width:100vw;
         top:0;
         bottom:0;
         right:0;
         left:0;
         position:fixed;
         background:$base-green;
         z-index:2;
      }
     .menu__list_mobile{
         display:flex;
         flex-direction:column;
         align-items:center;
         justify-content:center;
         align-items:flex-start;
         width:100%;
         height:100%;
         font-weight:600;
         font-size:14px;
         padding-left:8em;
}
     .menu__link_mobile{
        color:$white;
        cursor:pointer;
     }
     .menu__item_mobile{
        padding: 1em 0 1em 0;
     }

     .menu__item_mobile:hover path{
        stroke:#ffffff;
     }
.menu__item_mobile:focus path{
        stroke:#ffffff;
     }
