.reviews{
  padding:3em 0 4em 0;
}
  .reviews__heading{
    @include heading;
    margin-bottom:2em;
    text-align:center;
  }
  @media screen and (min-width:$viewport-5){
    .reviews__heading{
      text-align:left;
    }
  }

  .reviews__box{
    background:$white;
    padding:1em;
    position:relative;
    height:100px;
  }
  @media screen and (min-width:$viewport-11){
    .reviews__box{
      height:auto;
    }
  }

  .reviews__text{
    @include regular-text;
    font-style:italic;
    color:$regular-text-grey;
  }
  .reviews__box::after {
    content: " ";
    height: 0;
    position: absolute;
    bottom:-26px;
    left:20px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid $white;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent $white;
    transform:rotate(-45deg);
  }
  .reviews__author{
    color:$base-green;
    font-size:16px;
    font-weight:600;
    position:absolute;
    bottom:-30px;
    left:55px;
  }

@media screen and (min-width:$viewport-5){
  .reviews{
    width:50%;
    padding:4em 0 1em 2em;
  }
}
@media screen and (min-width:$viewport-11){
  .reviews{
    width:25%;
    padding:4em 0 5.5em 0;
  }
}
