.slider{
    text-align:center;
}
.slider__heading{
    color:$white;
    background:$base-orange;
    font-weight:700;
    font-size:40px;
}
.slider__caption{
    background:rgba(0,0,0, 0.5);
}
.slider__text{
    color:$white;
    font-weight:400;
}
