.slider{
    text-align:center;
    position:relative;
    margin-bottom:-2px;
}
.slider__item{
    position:relative;
    transition:all 1s ease-out;
}


.slider__heading{
    color:$white;
    background:$base-orange;
    font-weight:700;
    font-size:40px;
    width:270px;
    border-radius:3px;
    position:absolute;
    left:calc(50% - 135px);
    top:20%;
}
.slider__text{
    color:$white;
    background:rgba(0,0,0, 0.5);
    padding:0.5em 1.5em 0.5em 1.5em;
    width:200px;
    box-sizing:border-box;
    border-radius:3px;
    position:absolute;
    left:calc(50% - 100px);
    top:40%;
}
.slider__bars{
    text-align:center;
    background:$background-grey;
}
.slider__bar{
    display:inline-block;
    height:5px;
    width:60px;
    background:$line-grey;
    margin:20px 3px 20px 3px;
    cursor:pointer;
    transition:all 0.8s ease-in-out;
&:hover{
    background:$text-grey;
}
}
.active{
    background:$base-orange;
}
.slider__prev{
    position:absolute;
    cursor:pointer;
    top:40%;
    left:0;
    border-bottom:5px solid transparent;
    border-radius:0 5px 5px 0;
    padding:15px 15px 15px 5px;
    z-index:4;
}
.slider__next{
    position:absolute;
    cursor:pointer;
    top:40%;
    right:0;
    border-bottom:5px solid transparent;
    border-radius:5px 0 0 5px;
    padding:15px 5px 15px 15px;
    z-index:4;
}
.slider__arrow_prev{
    transform:rotate(180deg);
}
.slider__image{
    display:none;
}
@media screen and (min-width:$viewport-4){
    .slider__heading{
        top:30%;
    }
    .slider__text{
        width:270px;
        left:calc(50% - 135px);
    }
}
@media screen and (min-width:$viewport-5){
    .slider__heading{
        top:30%;
    }
    .slider__text{
        top:40%;
        width:350px;
        left:calc(50% - 170px);
    }
    .slider__image{
        display:block;
    }
    .slider__image_mobile{
        display:none;
    }
    .slider__next{
        background:$light-orange-1;
        border-bottom:5px solid $base-orange;
    }
    .slider__prev{
        background:$light-orange-1;
        border-bottom:5px solid $base-orange;
    }
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
