.slider{
    text-align:center;
    position:relative;
    margin-bottom:-2px;
}
.slider__item{
    position:relative;
}
.invisible{
    display:none;
}
.slider__caption{
    position:absolute;
    top:30%;
    left:33%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.slider__heading{
    color:$white;
    background:$base-orange;
    font-weight:700;
    font-size:40px;
    width:300px;
    border-radius:3px;
}
.slider__text{
    color:$white;
    background:rgba(0,0,0, 0.5);
    padding:0.5em 1.5em 0.5em 1.5em;
    width:350px;
    border-radius:3px;
    margin:7px;
}
.slider__bars{
    text-align:center;
    background:$background-grey;
}
.slider__bar{
    display:inline-block;
    height:5px;
    width:60px;
    background:$line-grey;
    margin:20px 3px 20px 3px;
    cursor:pointer;
}
.slider__bar:hover{
    background:$text-grey;
}
.active{
    background:$base-orange;
}
.slider__prev{
    position:absolute;
    cursor:pointer;
    top:40%;
    left:0;
    background:$light-orange-1;
    border-bottom:5px solid $base-orange;
    border-radius:0 5px 5px 0;
    padding:15px 15px 15px 5px;

    &:hover .arrow_1{
        d:M0 4 L8 10 L0 16;
    }
     &:hover .arrow_2{
        d:M8 4 L16 10 L8 16;
    }
}
.slider__next{
    position:absolute;
    cursor:pointer;
    top:40%;
    right:0;
    background:$light-orange-1;
    border-bottom:5px solid $base-orange;
    border-radius:5px 0 0 5px;
    padding:15px 5px 15px 15px;
    &:hover .arrow_1{
        d:M0 4 L8 10 L0 16;
    }
     &:hover .arrow_2{
        d:M8 4 L16 10 L8 16;
    }
}
.slider__arrow_prev{
    transform:rotate(180deg);
}
