.social__list{
    display:flex;
    flex-direction:row;
    .social__item{
        margin-left:1em;
    }
    .social__link{
        cursor:pointer;
        transition:all 0.5s ease-in;
        &:hover path{
            fill:$light-orange-1;
        }
        &:hover polygon{
            fill:$light-orange-1;
        }
        &:focus path{
            fill:$light-orange-1;
        }
        &:focus polygon{
            fill:$light-orange-1;
        }
        &:active path{
            fill:$light-orange-1;
        }
        &:active polygon{
            fill:$light-orange-1;
        }
    }
}
.social__item:first-child{
    margin-left:0;
}
@media screen and (min-width:$viewport-5){
    .social-item{
        margin-left:2em;
    }
}
