.stages{
    padding:3em 0 0 0;
}
@media screen and (min-width:$viewport-5){
.stages{
    order:2;
    width:60%;
     padding:4em 2em 4em 0;
}
}
@media screen and (min-width:$viewport-11){
    .stages{
        order:0;
    }
}
.stages__text{
    @include regular-text;
    padding:0 1em 2em 1em;
}
.stages__diagram{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.stage{
    padding:0.5em;
}
.stage_hidden{
    display:none;
}
@media screen and (min-width:$viewport-5){
    .stage_hidden{
        display:block;
    }
}
.base {
    stroke-dasharray:157px;
    stroke-dashoffset:157px;
    stroke:$base-green;
    stroke-width:15px;
    fill:transparent;

}
.stage-1-done {
    stroke-dasharray:78.5px 235.5px;
    stroke-dashoffset:157px;
    stroke:$base-orange;
    stroke-width:15px;
    fill:transparent;

}

.stage-2-done {
    stroke-dasharray:98.5px 215.5px;
    stroke-dashoffset:157px;
    stroke:$base-orange;
    stroke-width:15px;
    fill:transparent;

}
.stage-3-done {
    stroke-dasharray:118.5px 195.5px;
    stroke-dashoffset:157px;
    stroke:$base-orange;
    stroke-width:15px;
    fill:transparent;

}
.stage-4-done {
    stroke-dasharray:157px 157px;
    stroke-dashoffset:157px;
    stroke:$base-orange;
    stroke-width:15px;
    fill:transparent;

}
text{
    font-weight:700;
    fill:$text-grey;
}
.stage__number{
    font-size:30px;
}
