
@mixin heading{
    color:$text-grey;
    font-weight:700;
    font-size:14px;
}
@mixin regular-text{
     font-size:10px;
     line-height:2;
     font-weight:400;
}
@mixin bigger-text{
    font-weight:400;
    line-height:2;
    font-size:14px;
}
@mixin blog-heading{
    font-size:16px;
    color:$white;
    line-height:2;
}
@mixin footer-heading{
  color:#386238;
    font-weight:700;
    font-size:16px;
}
@mixin contacts-italic{
    font-size:16px;
    font-weight:600;
    font-style:italic;
}
