

$base-green: #70c570;
$light-green:#86d186;
$dark-green-1:#65b165;
$dark-green-2:#5ea15e;
$dark-green-3:#4e8a4e;
$dark-green-4:#5a9e5a;


$light-orange-1:#e36b2c;
$base-orange:#dc5925;
$light-orange:#e06a3b;

$white:#ffffff;
$card-grey:#f8f8f8;
$card-border-grey:#e5e6e6;
$background-grey:#f3f3f3;
$background-highlight-grey:#ececec;
$line-grey:#b0b8b9;
$text-grey:#7f8c8c;
$text-grey-accented:#7f8c8d;
$hr-grey:#e1e2e2;
